doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Ionic Seed App

    link(href='components/ionic/release/css/ionic.css', rel='stylesheet')
    link(href='css/app.css', rel='stylesheet')

    // cordova script
    script(src='cordova.js')

    script.
      _IS_RIPPLE_EMULATOR = window.tinyHippos != undefined;

      function deviceready() {
          // Make ripple think that a back button handler has already been attached
          if(_IS_RIPPLE_EMULATOR) cordova.addDocumentEventHandler('backbutton'); 

          document.addEventListener("backbutton", function(){
              alert("Pressed back");
          });

      }
      document.addEventListener("deviceready", deviceready, true);   

    script(src='components/ionic/release/js/ionic.bundle.js')
    // <script src="components/ionic/release/js/ionic.js"></script>
    // <script src="components/ionic/release/js/angular/angular.js"></script>
    // <script src="components/ionic/release/js/angular/angular-animate.js"></script>
    // <script src="components/ionic/release/js/angular/angular-sanitize.js"></script>
    // <script src="components/ionic/release/js/angular-ui/angular-ui-router.js"></script>
    // <script src="components/ionic/release/js/ionic-angular.js"></script>

    // your app's script
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
      
    // 'starter' is the name of this angular module (js/app.js)
      
  body(ng-app='starter', animation='slide-left-right-ios7')
    //
            The nav bar that will be updated as we navigate between views
            Additional attributes set its look, nav-bar animation and icons
            Icons provided by Ionicons: http://ionicons.com/ 
          
    nav-bar(type='bar-positive', animation='nav-title-slide-ios7', back-button-type='button-icon', back-button-icon='ion-ios7-arrow-back')
    //
            The views will be rendered in the <nav-view> directive below
            Templates are in the /templates folder (but you could also
            have templates inline in this html file if you'd like).
          
    nav-view
